
@{
    ViewBag.Title = "Operating Instruction Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="form-group row">
        <div class="col-sm-3">
            <label class="control-label">Code Number</label>
            <input id="CodeNumber" type="text" class="form-control" placeholder="Code Number">
        </div>

        <div class="col-sm-9">
            <button class="btn btn-cstm btn-search">Search</button>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-6">
            <label class="control-label">Operating Instruction</label>
            <input id="OperatingInstruction" type="text" class="form-control" placeholder="Operating Instruction">

        </div><!-- End col-sm-3 -->

        <div class="col-sm-6" style="display:none;">
            <label class="control-label">F.E.D.</label>
            <input id="FED" type="text" class="form-control" placeholder="F.E.D.">
        </div><!-- End col-sm-3 -->
    </div>

    <div class="row form-group">
        <div class="col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="IsActive" unchecked=""><span class="checkbox-material"><span class="check"></span></span>
                    Is Active
                </label>
            </div>
        </div><!-- End col-sm-3 -->


    </div>

    <div class="row form-group">
        <div class="col-sm-12">
            <div class="btns_right">
                <button id="btnAdd" class="btn btn-cstm" style="display:none;">Add</button>
                <button id="btnUpdate" class="btn btn-cstm" style="display:none;">Update</button>
                <button id="btnCancel" class="btn btn-cstm btn-light" onclick="location.reload();">Cancel</button>
            </div><!-- End btns_right -->
        </div><!-- End col-sm-3 -->
    </div>


</div>

<script type="text/javascript">
    $('.btn-search').click(function ()
    {
        $('#btnAdd').css("display", "none");
        $('#btnUpdate').css("display", "none");
        var CodeNumber = $('#CodeNumber').val();

        var Url = '@Url.Action("SearchOpInsByCodeNo", "Configuration")';
        if (CodeNumber === '' || CodeNumber === null || typeof (CodeNumber) === 'undefined') {
            $('#CodeNo').css("border", "red solid 1px");
            alert("Please Enter Code Number");
            return false;
        }

        ShowLoader();
        ajaxCall(Url, { CodeNumber: CodeNumber }, function (resp) {
            //debugger
            HideLoader();
            if (resp.ErrorMessage == '@CardIssuanceSystem.Core.Helpers.CustomMessages.Success')
            {
                //debugger
                $('#OperatingInstruction').val(resp.result.Description);
                //$('#FED').val(resp.result.FED);
                $('#IsActive').val('');
                if (resp.result.IsActive == true)
                {
                    $('#IsActive').prop('checked', true);
                } else
                {
                    $('#IsActive').prop('checked', false);
                }
                $('#btnUpdate').removeAttr("style");
            } else
            {
                debugger
                alert(resp.ErrorMessage);
                $('#OperatingInstruction').val('');
                //$('#FED').val('');
                $('#IsActive').attr('checked', false);
                $('#btnAdd').removeAttr("style");
            }

        }, function (fail) {
            HideLoader();
            //debugger
            alert(fail.responseText);
            return false;
        }, function (err) {
            //debugger
            HideLoader();
            alert(err.responseText);
            return false;
        });

    });




    $('#btnAdd').click(function () {
        var Code = $('#CodeNumber').val();
        var OperatingInstruction = $('#OperatingInstruction').val();
       
        var IsActive;// = $('#IsActive').val();
        if ($('#IsActive').is(":checked")) {
            IsActive=true
        } else
        {
            IsActive = false;
        }

        var Url = '@Url.Action("AddOperatingInstruction", "Configuration")';
        if (Code === '' || Code === null || typeof (Code) === 'undefined') {
            $('#CodeNumber').css("border", "red solid 1px");
            alert("Please Enter Code Number");
            return false;
        }
        if (OperatingInstruction === '' || OperatingInstruction === null || typeof (OperatingInstruction) === 'undefined') {
            $('#OperatingInstruction').css("border", "red solid 1px");
            alert("Please Enter Operating Instruction");
            return false;
        }
        if (!CheckStrLength(Code, 50)) {
            alert("Code Number Length should be less than or equal to 50");
            return false;
        }
        if (!CheckStrLength(OperatingInstruction, 500)) {
            alert("Operating Instruction Length should be less than or equal to 500");
            return false;
        }


        ShowLoader();
        ajaxCall(Url, { Code: Code, OperatingInstruction: OperatingInstruction, IsActive: IsActive }, function (resp) {
            //debugger
            HideLoader();
            if (resp.ErrorMessage == '@CardIssuanceSystem.Core.Helpers.CustomMessages.Success') {
                alert(resp.ErrorMessage);
                location.reload();
            } else {
                alert(resp.ErrorMessage);

            }

        }, function (fail) {
            HideLoader();
            //debugger
            alert(fail.responseText);
            return false;
        }, function (err) {
            //debugger
            HideLoader();
            alert(err.responseText);
            return false;
        });

    });




    $('#btnUpdate').click(function () {
        var Code = $('#CodeNumber').val();
        var OperatingInstruction = $('#OperatingInstruction').val();
        
        var IsActive;// = $('#IsActive').val();
        if ($('#IsActive').is(":checked")) {
            IsActive = true
        } else {
            IsActive = false;
        }

        var Url = '@Url.Action("UpdateOperatingInstruction", "Configuration")';
        if (Code === '' || Code === null || typeof (Code) === 'undefined') {
            $('#CodeNumber').css("border", "red solid 1px");
            alert("Please Enter Code Number");
            return false;
        }
        if (OperatingInstruction === '' || OperatingInstruction === null || typeof (OperatingInstruction) === 'undefined') {
            $('#OperatingInstruction').css("border", "red solid 1px");
            alert("Please Enter Operating Instruction");
            return false;
        }
        if (!CheckStrLength(Code, 50)) {
            alert("Code Length should be less than or equal to 50");
            return false;
        }
        if (!CheckStrLength(OperatingInstruction, 500)) {
            alert("OperatingInstruction Length should be less than or equal to 500");
            return false;
        }

        ShowLoader();
        ajaxCall(Url, { Code: Code, OperatingInstruction: OperatingInstruction, IsActive: IsActive }, function (resp) {
            debugger
            HideLoader();
            if (resp.ErrorMessage == '@CardIssuanceSystem.Core.Helpers.CustomMessages.Success') {
                alert(resp.ErrorMessage);
                location.reload();
            } else {
                alert(resp.ErrorMessage);

            }

        }, function (fail) {
            HideLoader();
            //debugger
            alert(fail.responseText);
            return false;
        }, function (err) {
            //debugger
            HideLoader();
            alert(err.responseText);
            return false;
        });

    });
</script>

