@model CardIssuanceSystem.DAL.tbl_System_Requests
@{
    ViewBag.Title = "AuthorizeProfilePage";
    var profileId = ViewBag.ProfileId;
    var profilePermissions = ViewBag.ProfilePermissions as List<CardIssuanceSystem.Core.ViewModel.ProfilePageVM>
    ;
    var count = 1;
}

<div class="container">
    <div id="ResultForm">
        <div class="form-group row">
            <div class="col-md-6">
                <label class="control-label">Profile</label>
                <select class="form-control" id="cmbxProfile">
                    <option value="@profilePermissions.FirstOrDefault().ProfileID" selected>@profilePermissions.FirstOrDefault().ProfileName</option>
                </select>
            </div>
            <div class="col-md-6">
            </div>
        </div>

        @foreach (var items in profilePermissions.GroupBy(e => e.SectionID))
        {
            if ((count % 4) == 0)
            {
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="activeSectionCheckbox" data-attr-id="@items.Key" checked class="checkAll"><span class="checkbox-material"><span class="check"></span></span>
                                <b>@items.FirstOrDefault().SectionName</b>
                            </label>
                        </div>
                        @foreach (var item in items.OrderBy(e => e.PageID))
                    {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="activeCheckbox" data-attr-id="@item.PageID" checked><span class="checkbox-material"><span class="check"></span></span>
                                    @item.PageTitle
                                </label>
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="activeSectionCheckbox" data-attr-id="@items.Key" checked class="checkAll"><span class="checkbox-material"><span class="check"></span></span>
                            <b>@items.FirstOrDefault().SectionName</b>
                        </label>
                    </div>
                    @foreach (var item in items.OrderBy(e => e.PageID))
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="activeCheckbox" data-attr-id="@item.PageID" checked><span class="checkbox-material"><span class="check"></span></span>
                                @item.PageTitle
                            </label>
                        </div>
                    }
                </div>
            }

            { count = count + 1; }
        }
    </div>
    <div class="row form-group">
        <div class="col-sm-12">
            <div class="radio">
                <label>
                    <input type="radio" name="correct-ans" value="A"><span class="checkbox-material"><span class="check"></span></span>
                    Approved
                </label>

                <label>
                    <input type="radio" name="correct-ans" value="C"><span class="checkbox-material"><span class="check"></span></span>
                    Reject
                </label>

                <label>
                    <input type="radio" name="correct-ans" value="R"><span class="checkbox-material"><span class="check"></span></span>
                    To be corrected
                </label>
            </div>
        </div><!-- End col-sm-12 -->
    </div><!-- End row -->

    <div class="row form-group">
        <div class="col-sm-12">
            <textarea class="form-control" rows="5" id="AuthorizeComments" maxlength="50"></textarea>
        </div><!-- End col-sm-12 -->
    </div><!-- End row -->


    <div class="row form-group">
        <div class="col-sm-12">
            <div class="btns_right">
                <button class="btn btn-cstm" id="btnproceed">Proceed</button>
                <a class="btn btn-cstm btn-light" id="btncancel" href="@Url.Action(" AuthorizeUser", "SystemAuthorization" )">Cancel</a>
            </div><!-- End btns_right -->
        </div><!-- End col-sm-3 -->
    </div><!-- End row -->
</div>

@section customCSS{
    <style type="text/css">
        .checkbox label {
            padding: 1px 0px;
        }
    </style>
}

@section CustomJS{
    <script type="text/javascript">
        $(function () {
            $('#ResultForm input, #ResultForm select').attr('disabled', 'disabled');
            $('#btnproceed').click(function () {
                var url = '@Url.Action("AuthorizeProfilePageRequest", "SystemAuthorization")';
                var Id = '@Model.ID';
                var status = $('input[name="correct-ans"]:checked').val();
                var comments = $('#AuthorizeComments').val();

                if (status === "C" || status === "R") {
                    if (!comments) {
                        alert("Please provide comments before proceed");
                        return false;
                    }
                }

                ShowLoader();
                ajaxCall(url, { ID: Id, AuthorizationStatus: status, AuthorizationComments: comments }, function (resp) {
                    if (typeof (resp) === "object" && resp != null) {
                        HideLoader();
                        if (resp.IsSuccess) {
                            alert(resp.ErrorMessage);
                            location.reload();
                        }
                        else {
                            alert(resp.ErrorMessage);
                        }
                    }
                }, function (fail) {
                    HideLoader();
                    alert("Failure");
                }, function (err) {
                    HideLoader();
                    alert("Error");
                });
            });
        });
    </script>
}

